/* ===========================
   Laptop (1024px)
=========================== */

@media(max-width:1024px){

    .booking-container{
        max-width:95%;
    }

    .booking-right h2{
        font-size:34px;
    }

    .booking-info h1{
        font-size:42px;
    }

}


/* ===========================
   Tablet (992px)
=========================== */

@media(max-width:992px){

    .booking-container{
        grid-template-columns:1fr;
    }

    .booking-left{
        border-right:none;
        border-bottom:1px solid #ddd;
    }

    .logo{
        padding:50px 30px;
    }

    .booking-info{
        padding:30px;
    }

    .booking-right{
        padding:30px;
    }

}


/* ===========================
   Mobile (768px)
=========================== */

@media(max-width:768px){

    .booking{
        padding:20px 10px;
    }

    .booking-container{
        border-radius:10px;
    }

    .logo h2{
        font-size:30px;
    }

    .booking-info h4{
        font-size:18px;
    }

    .booking-info h1{
        font-size:34px;
        margin-bottom:20px;
    }

    .info p{
        font-size:16px;
        gap:10px;
    }

    .booking-right{
        padding:20px;
    }

    .booking-right h2{
        font-size:28px;
        margin-bottom:25px;
    }

    .calendar-header h3{
        font-size:22px;
    }

    .calendar-header button{
        width:38px;
        height:38px;
        font-size:15px;
    }

    .weekdays span{
        font-size:13px;
        padding:6px;
    }

    .calendar span{
        padding:12px;
        font-size:15px;
    }

    .timezone h4{
        font-size:18px;
    }

    .timezone p{
        font-size:15px;
    }

    .booking-footer{
        text-align:center;
    }

    .booking-footer a{
        display:block;
        margin:10px 0;
    }

}


/* ===========================
   Small Mobile (480px)
=========================== */

@media(max-width:480px){

    .logo{
        padding:40px 20px;
    }

    .logo h2{
        font-size:24px;
    }

    .booking-info{
        padding:20px;
    }

    .booking-info h1{
        font-size:28px;
    }

    .booking-right{
        padding:15px;
    }

    .booking-right h2{
        font-size:24px;
    }

    .calendar-header h3{
        font-size:18px;
    }

    .calendar span{
        padding:10px;
        font-size:14px;
    }

}